{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block reg_content %}
  {% url 'login' as the_url %}
  {% include 'fragments/registration/registration_title.html' with title=_("Password change complete") %}
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="text-center">
      <p class="text-sm leading-6 text-gray-500">{% trans "Your password has been changed" %}</p>
      <p class="text-sm leading-6 text-gray-500">
        {% blocktrans %}You may go ahead and <a href="{{ the_url }}" class="form-link">log in</a>
          now{% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock %}
