{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block reg_content %}
  {% url 'login' as login_url %}
  {% include 'fragments/registration/registration_title.html' with title=_("Password reset complete") %}
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="text-center">
      <p class="text-sm leading-6 text-gray-500">{% trans "Your password has been set" %}</p>
      <p class="text-sm leading-6 text-gray-500">{% blocktrans %}You may go ahead and
        <a href="{{ login_url }}" class="form-link">login</a> now{% endblocktrans %}</p>
    </div>
  </div>
{% endblock %}
