<nav class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
     aria-label="Pagination">
  <div class="hidden sm:block">
    <p class="text-sm text-gray-700">
      Showing
      <span class="font-medium">{{ page.start_index }}</span>
      to
      <span class="font-medium">{{ page.end_index }}</span>
      of
      <span class="font-medium">{{ page.paginator.count }}</span>
      results
    </p>
  </div>
  <div class="flex flex-1 justify-between sm:justify-end">
    {% if page.has_previous %}
      <a href="?page={{ page.previous_page_number }}&{{ filter }}"
         class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Previous</a>
    {% else %}
      <span
        class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-300 ring-1 ring-inset ring-gray-300">Previous</span>
    {% endif %}
    {% if page.has_next %}
      <a href="?page={{ page.next_page_number }}&{{ filter }}"
         class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Next</a>
    {% else %}
      <span
        class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-300 ring-1 ring-inset ring-gray-300">Next</span>
    {% endif %}
  </div>
</nav>
