.env {
    font-size:12px;
    font-weight:bold;
    padding: 4px 16px;
    text-align:center;
    background:#ff0000;
    color:#fff;
    position:absolute;
    top:0;
    right:10px;
    z-index:2000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.env:after {
    content: "Local";
}
